OverQLabel{
    border: 2px solid transparent;
    border-radius: 4px;
}

OverQLabel[isSelected= "true"]{
    border: 2px solid rgb(241, 184, 241);
    border-radius: 4px;
}

QMenu {
    color: rgb(170, 91, 113);
    background-color: rgb(234, 214, 229);
    border: none;
}

QMenu::item {
    height: auto;
    width: auto;
    color: rgb(170, 91, 113);
}

QMenu::item:selected {
    background-color: rgb(207, 209, 225);
}

QMenu::item:disabled {
    color: #AAAAAA;
}